<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Games Szymon Rozkocha</span>
  <span class="spacer"></span>
  <span>Hello {{ userService.getUsername() }}!</span>
  <button mat-icon-button (click)="authService.login()" *ngIf="!authService.isLogged()">
    <mat-icon>login</mat-icon>
  </button>
  <button mat-icon-button (click)="authService.logout()" *ngIf="authService.isLogged()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container autosize>
  <mat-sidenav [ngClass]="!isCollapsed ? 'expanded' : ''" [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile">
    <mat-list>
      <div mat-subheader>Online</div>
      <mat-list-item>
        <div matListItemTitle class="noSelect" (click)="startServer()">You</div>
      </mat-list-item>
      <mat-list-item *ngFor="let user of activeUsers" (click)="connect(user.userId)">
        <div matListItemTitle>{{user.username}}</div>
      </mat-list-item>
    </mat-list>
    <app-video *ngIf="!!stream" [stream]="stream"></app-video>
  </mat-sidenav>
  <mat-sidenav-content>
    <h2>Content</h2>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
